* {
    font-family: "Merriweather", serif;
}

html {
    scroll-behavior: smooth;
}

#banner {
    background-image: url(../assets/Hero-bg.png);
    height: 612px;
}

.banner-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.banner-head {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
}

.banner-title {
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    margin: 20px 0;
}

.banner-text {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    opacity: 0.8;
}

.banner-btn {
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    padding: 21px 24px 21px 24px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

#hero {
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    padding: 80px 97px 80px 97px;
    margin: 70px 150px;
}

.hero-head {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
}

.hero-title {
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-top: 10px;
}

.hero-text {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    opacity: 0.8;
    margin-top: 10px;
}

.hero-sec {
    display: flex;
    justify-content: space-between;
    padding: 48px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    margin-bottom: 32px;
}

.shero-title {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    text-align: left;
}

.shero-text {
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    opacity: 0.8;
    margin-bottom: 32px;
}

.shero-btn {
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding: 12px 20px;
    cursor: pointer;
}

.hero-sec-ex {
    display: flex;
    justify-content: space-between;
    padding: 48px;
    border-radius: 16px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    margin-bottom: 32px;
}

#legend {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
}

.legend-link {
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    padding: 32px;
    height: 577px;
    width: 1030px;
}

iframe {
    width: 965px;
    height: 517px;
    border-radius: 16px;
}

#master {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    margin: 111px 0px;
}

.master-sec {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    gap: 20px;
}

.master-html {
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    padding: 20px;
}

.master-css {
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
    padding: 20px;
}

.master-title {
    font-size: 24px;
    font-weight: 800;
    text-align: left;
}

.master-text {
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    opacity: 0.8;
}

.master-btn {
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    text-decoration-line: underline;
    cursor: pointer;
}

#bye {
    background-image: url(../assets/handshake.jpg);
    height: 294px;
    margin: 0 130px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
}

.bye-sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.bye-title {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

.bye-text {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

form {
    display: flex;
    margin: 20px auto;
    width: 515px;
    height: 53px;
    gap: 10px;
}

form input {
    flex-grow: 1;
    border: none;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 20px;
    font-size: 16px;
    outline: none;
    cursor: pointer;
}

.bye-btn {
    border-radius: 8px;
    background: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 10px 15px
}

#end {
    height: 94px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 130px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    margin-top: 80px;
}

.end-sec {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}